*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Front Page Styling */
.front-page{
  width: 100%;
  height: 100vh;
  color: white;
}

.front-page video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-text, 
.music-note{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  z-index: 2;
}

.blend{
  width: 100%;
  height: 100vh;
  background: #000;
  position: absolute;
  opacity: 0.5;
}

.title{
  font-size: 5rem;
  padding-bottom: 1rem;
}

.sub-title{
  font-size: 1.5rem;
}

/* Second Page CSS */
.second-page{
  height: 100vh;
  margin: 5%;
  display: flex;
  flex-direction: row;
}

.heading-text{
  display: flex;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 80px;
  background: rgb(116, 116, 116);
  /* transition: all 300ms;        */
}

.card-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sample-images{
  height: 400px;
  width: 400px;
  position: absolute;
}

.rendered-div{
  display: flex;
  flex-direction: column;
}


/* Landing Page Styling */
.landing-page{
  height: 880px;
  display: flex;
  padding: 0px 270px 0px 130px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffd28a;
}
.ring{
  height: 630px;
  transform: translateX(-10px) translateY(95px);
}
.hero-text{
  font-size: 65px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #614b54;
}

.aux-text{
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #614b54;
}

.btn-group{
  margin-right: 230px;
  size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

 .btn {
  background-image: linear-gradient(45deg, #ff3295 0%, #ff66b0  51%, #ff3295  100%)
 }
 
 .btn {
  height: 55px;
  width: 180px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 500;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  border: 0px;
  box-shadow: 0px 0px 14px -7px #f09819;
 }
 
 .btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
 }

 /* .scroll-btn{
  padding-top: 270px;
  display: flex;
  flex-direction: row;
 } */

 .scroll-btn{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.scroll-btn {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  padding-top: 180px;
  align-items: center;
}

.scroll-btn p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color)
}

.scroll-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.scroll-btn p::before {
  position: absolute;
  content: "Scroll to Bottom";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.1s ease-out;
}

.scroll-btn:hover::after {
  width: 100%;
}

.scroll-btn:hover p::before {
  width: 100%;
}

.scroll-btn:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.scroll-btn svg {
  color: #ddddd;
  transition: 0.5s;
  position: relative;
  width: 15px;
  transition-delay: 0.1s;
}

 .arrow-svg{
  height: 15px;
  width: 30px;
  padding-right: 5px;
 }

.graphic-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(85px);
}

.teacher-card{
  transform: translateY(-520px);
  width: 245px;
  height: 300px;
  border-radius: 60px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
}

.container {
  position: relative;
  font-family: sans-serif;
}

.container .box {
  width: 300px;
  height: 110px;
  padding: 1rem;
  background-color: rgb(255 238 212 / 20%);
  border: 1px solid rgb(255 238 212 / 20%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: .7rem;
  transform: translateX(-25px) translateY(230px);
  transition: all ease .3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher-name {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: #ffff;
  font-size: 40px;
}

.category {
  display: block;
  margin-bottom: .5rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.container .box div p {
  margin: 0;
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .1em;
}

.container .box div span {
  font-size: .7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: .2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.interact-btn{
  display: flex;
  flex-direction: row;
  transform: translateY(-450px);
  justify-content: space-around;
  width: 400px;
}

.video-btn{
  height: 85px;
  width: 85px;
  background-color: #fff;
  border-radius: 100px;
  border: 0px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.add-btn{
  height: 85px;
  width: 85px;
  background-color: #fff;
  border-radius: 100px;
  border: 0px;
  transform: translateY(60px);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.mail-btn{
  height: 85px;
  width: 85px;
  background-color: #fff;
  border-radius: 100px;
  border: 0px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.video{
  height: 60px;
}

.add{
  height: 60px;
}

.mail{
  height: 60px;
}

 .footer{
  transform: translateY(-40%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 130px 0px 130px;
  background: linear-gradient(to bottom, #ff3695, #ff60ac);
  border-radius: 68px;
  height: 220px;
 }

 .icn-group{
  background-color: #ffff;
  height: 100px;
  width: 100px;
  transform: translateY(-45px);
  border-radius: 90px;
 }

 .hand-icon{
  transform: translate(20%, 20%);
  height: 70px;
  width: 70px;
 }

 .aux-text-footer{
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  transform: translateY(-35%);
  font-family: 'Ubuntu', sans-serif;
 }

 .aux-text-break{
  font-size: 15px;
  font-weight: 400;
  color: #ffff;
  transform: translateY(-35%);
  font-family: 'Ubuntu', sans-serif;
 }

 .right-group{
  display: flex;
  flex-direction: column;
  transform: translateX(20px);
 }

 .teacher-cards-top {
  width: 175px;
  height: 165px;
  background: rgb(46, 44, 44);
  border-radius: 40px;
  transition: all 300ms;
 }

 .teacher-cards-bottom {
  width: 175px;
  height: 165px;
  background: rgb(254, 0, 122);
  border-radius: 40px;
  transition: all 300ms;
 }

 .card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 950px;
  transform: translateY(30px) translateX(-30px);
  z-index: 2;
 }

 .card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 950px;
  transform: translateY(-75px);
 }

 .teacher-cards-top:hover {
  transform: scale(1.10);
 }

 .teacher-cards-bottom:hover {
  transform: scale(1.10);
 }

 .teacher-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(110px);
 }

 .rating{
  height: 15px;
 }

 .expertise{
  font-size: 20px;
  color: #ffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
 }

 /* CardPage Styling*/
 .card-page{
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 34px 82px 34px 82px;
 }

 .top-part{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
 }

 .info-cards-group{
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 54px 0px 54px;
 }

 .info-cards{
  width: 256px;
  height: 400px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(218, 218, 218, 0.5);
  transition: all 300ms;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .circle{
  width: 150px;
  height: 150px;
  background-color: #faf8fd;
  position: absolute;
  border-radius: 100px;
 }
 
 .medicine-img{
  height: 150px;
  width: 90px;
  z-index: 2;
 }

 .microscope-img{
  height: 150px;
  width: 90px;
  z-index: 2;
 }

 .protection-img{
  height: 150px;
  width: 90px;
  z-index: 2;
 }

 .headline-text{
  padding: 15px;
  font-family: 'Ubuntu', sans-serif;
 }

 .card-info{
  font-size: 17px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
 }
 
 .info-cards:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }


 .side-content{
  width: 640px;
  padding: 0px 40px 0px 40px;
  font-family: 'Ubuntu', sans-serif;
  color: #181a67;
 }

 .head-line{
  font-size: 59px;
  padding: 20px 0px 20px 0px;
 }

 .sub-text{
  font-size: 23px;
  padding-bottom: 25px;
 }

 .info-text{
  font-size: 20px;
  padding-bottom: 60px;
 }

 /* Button Styling */
 .btn-more {
  display: inline-block;
  border-radius: 15px;
  background-color: #f7f7f7;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  width: 250px;
  height: 65px;
  transition: all 0.5s;
  cursor: pointer;
 }
 
 .btn-more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .btn-more span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .btn-more:hover span {
  padding-right: 15px;
 }
 
 .btn-more:hover span:after {
  opacity: 1;
  right: 0;
 }

 .bottom-part{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }

 .bottom-card-left{
    width: 500px;
    height: 200px;
    border-radius: 25px;
    background: rgb(26, 109, 204) 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
}

.card-icon{
  height: 80px;
  width: 80px;
  z-index: 2;
  transform: translateX(20px);
 }

 .main-text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: 800;
  color: #ffff;
  padding: 0px 15px 15px 15px;
  transform: translateX(50px);
 }

 .sub-content{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  transform: translateX(50px);
  padding: 0px 15px 0px 15px;
  color: #ffff;
 }

.bottom-card-middle{
  width: 500px;
  height: 200px;
  border-radius: 25px;
  background: rgb(255, 124, 46) 0%;
  display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: space-around;
  padding: 35px;
}

.bottom-card-right{
  width: 500px;
  height: 200px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 35px;
  background: rgb(255, 76, 58) 0%;
}

.card-circle{
  width: 120px;
  height: 120px;
  background-color: #faf8fd;
  position: absolute;
  transform: translateY( -14px );
  border-radius: 100px;
 }

 /* Feature Page */
 .content-wrapper{
  display: flex;
  flex-direction: column;
  height: 960px;
  margin-bottom: 10px;
 }

 .hero-div{
  height: 800px;
  background-color: #ff7c2e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  padding: 130px 0px 130px 130px;
 }

 .hero-content{
  font-size: 65px;
  color: #ffff;
  font-weight: 400;
  padding-bottom: 40px;
 }

 .illustration-svg{
  height: 1050px;
  width: 1050px;
 }

.hero-button {
  background-color: rgba(255, 255, 255, 0.5);
  width: 270px;
  height: 75px;
  border-radius: 8px;
  border-width: 0;
  color: #250e62;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
}

.hero-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .hero-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .hero-button:hover span {
  padding-right: 15px;
 }
 
 .hero-button:hover span:after {
  opacity: 1;
  right: 0;
 }

 .sub-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  padding: 15px;
  transform: translateY(-50px);
  margin-bottom: 10px;
 }

 .subcard {
  width: 320px;
  height: 210px;
  background: rgb(252, 252, 252);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: all 300ms;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .subcard:hover {
  transform: scale(1.10);
 }

 .cloud-svg , .security-svg, .malware-svg{
  height: 120px;
  width: 120px;
  padding: 10px;
 }

.search-svg{
  height: 120px;
  width: 120px;
  padding: 10px;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #0c264c;
}

h5{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #868b9a;
} 

/* CardClick Styling */
.wrapper-class{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 50px 50px 50px;
  height: 800px;
}

.image-holder{
  width: 45%;
}

.image{
  height: 750px;
  position: absolute;
}

.card-btn-selected {
  width: 572px;
  border-radius: 16px;
  background-color: #f7f7f7;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 5px 0px ;
 }

 .card-btn-content{
  font-family: 'Ubuntu' , sans-serif;
 }

 .lead-content{
  padding-bottom: 10px;
 }

 .support-content{
  padding-bottom: 10px;
 }

 .link-btn{
  background:rgba(0, 0, 0,0);
  border: 0px;
 }

 .card-btn-unselected{
  width: 572px;
  height: 80px;
  border-radius: 16px;
  background-color: #dbdbdb;
  border: 1px solid rgba(255, 255, 255, 0.3);
 }

 .cart{
  height: 40px;
 }

 .btn-div{
  display: flex;
  flex-direction: row;
 }

 .arrow{
  height: 20px;
 }